.clickable {
  cursor: pointer;
}

h1{
color:#3CD;
text-align:left;
font-size:largest;
letter-spacing:4px;
text-shadow: #111 1px 1px 1px;
word-spacing: 5px;
font-family: sans-serif;
border: 0px;
padding: 2px;
margin: 0px;
}

img {
  border: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
}

#banner {
  margin: 0px;
  padding: 0px;
}

.menu {
  float: right;
  margin-right: 5px;
}

.main {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 800px;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDD;
}

.bar{
  cursor: pointer;
  color: #003;
  font-family: monospace;
  font-size: x-large;
  background-color: #AAD;
  padding-left:2px;
  padding-right:2px;
}

.footer {
  float: right;
  bottom: 0;
}

/* FAQ */
.question, li {
  font-weight: bold;
}
.question {
  cursor: pointer;
}
.answer {
  font-family: serif;
  font-weight: normal;
}
