{% extends "templates/default.html" %} {% block content %}

<div id="instructions_main">
  <div class="bar"><span class="clickable">Instructions</span></div>
  <div id="instructions" class="bucket">
    Enter some search criteria to get some suggestions for where to live.
  </div>

</div>
<div id="search_main">
  <div id="ai" class="bar"><span class="clickable">Search</span></div>
  <div id="searchForm" class="bucket">
    <form>
      <label for="minPrice">minimum price ('000)</label>
        <input id="minPrice" type="text" value="0"/>
      <label for="maxPrice">maximum price ('000)</label>
        <input id="maxPrice" type="text" value="300"/>
      <input type="submit" id="search" value="Search" />
    </form>
  </div>
</div>
<div id="results_main">
  <div id="bi" class="bar"><span class="clickable">Results</span></div>
  <div id="results" class="bucket">Results will appear here</div>
</div>
<div id="map_main">
  <div id='mapi' class="bar"><span class="clickable">Map</span></div>
  <div id="map" class="bucket" style="width: 100%; height: 400px"></div>
</div>
  
<script type="text/javascript">
function log(text){
  if (typeof console != "undefined" && typeof console.log != "undefined"){
    console.log(text);
  }
}
$(document).ready(
function(){
  initialize();//gmaps initialize
  $('.bucket').hide();
  $('.bar').click(function(){
    $(this).next('.bucket').toggle('slow');
  });
  $('#searchForm').show();
  $('#results_main').hide();
  $('#map_main').hide();
  $('#instructions').show();
  $("#results").show();

  var geocoder = new GClientGeocoder();
  function showAddress(addr){
    log('showing: ' + addr);
    function callback(point){
      if (!point){
      } else {
        if (typeof marker != "undefined"){
          map.removeOverlay(marker);
        }
        marker = new GMarker(point);
          var html = "<div>" + addr + "</div>";
//        GEvent.addListener(marker, "click", function() {
//          var html = "<div>showing: " + addr + "</div>";
//          marker.openInfoWindowHtml(html);
//        });
        map.addOverlay(marker);
        marker.openInfoWindowHtml(html);
        map.setCenter(point, 13);
      }
    }
    geocoder.getLatLng(addr, callback);
  }
  
  function successFunc(data){
    $('#results_main').show();
    $('#map_main').show();
    data = JSON.parse(data)
    place = data[0]
    if (data.length > 0)
    {
      showAddress(place.name + ', NSW');
      $('#map').show('fast');
    }
    var show = '<ul>';
    for (var i=0; i < data.length; i++)
    {
      var showOnMap = '<span class="clickable" id="'+data[i].name+'">' + data[i].name + '</span>';
      jQuery('#'+data[i].name).live('click',function(){
        log('clicked: ' + $(this));
        showAddress($(this).attr('id') + ', NSW');
      });
      show += '<li>' + data[i].name;
      show += ' price: $' + data[i].price*1000;
      show += '<a href="' + data[i].url + '">' + 'website</a>';
      show += showOnMap;
    }
    show += '</ul>';
    log(show);
    
    $('#results').html(show);
    $('#results').show('slow');
  }

  function ajaxSubmit(){
    var data = {};
    var url = '/ajaxSearch';
    var minPrice = $('#minPrice').val();
    var maxPrice = $('#maxPrice').val();
    data['minPrice']= minPrice;
    data['maxPrice']= maxPrice;
    $.get(url, JSON.stringify(data), successFunc);
  }
  function validate(){
    return true; //TODO
  }
  $('#searchForm').submit(function(){
    $('#instructions').hide('slow');
    if (validate()) {
      ajaxSubmit();
    } else {

    }
    return false;
  });
});
$(window).unload(
function(){
  GUnload();
});

</script>
{% endblock %}
