{% extends "templates/default.html" %}
{% block content %}

<div id="a">
  <div id="ai" class="bar"><span class="clickable">Row A</span></div>
  <div id="aii" class="bucket">
    lol
  </div>
</div>
<div id="b">
  <div id="bi" class="bar"><span class="clickable">Row B</span></div>
  <div id="bii" class="bucket">asdfajsdfasdfxcbvadsfsdf</div>
</div>
<div>
  <div id='mapi' class="bar"><span class="clickable">Map</span></div>
  <div id="map_canvas" class="bucket" style="width: 100%; height: 400px"></div>
  
<script type="text/javascript">
$(document).ready(
function(){
  initialize();//gmaps initialize
  $('.bucket').hide();
  $('#map_canvas').show();
  $('.bar').click(function(){
    $(this).next('.bucket').toggle('slow');
  });
});
$(window).unload(
function(){
  GUnload();
});

</script>
{% endblock %}
