{% extends "templates/default.html" %}
{% block content %}

<div id="a">
  <div id="ai" class="header"><span class="clickable">head</span></div>
  <div id="aii">asdfasdfsdaifajslvjdsl fsdljfasd fsalijd fa</div>
</div>
<div id="b">
  <div id="bi" class="header"><span class="clickable">head</span></div>
  <div id="bii">asdfajsdfasdfxcbvadsfsdf</div>
</div>
<script type="text/javascript">
$(document).ready(
function(){
  $('#aii').hide();
  $('#bii').hide();
  $('#ai').click(function(){$('#aii').show('slow');$('#bii').hide('slow');});
  $('#bi').click(function(){$('#bii').show('slow');$('#aii').hide('slow');});


});

</script>
{% endblock %}
